.header__contacts-link {
  display: flex;
  gap: 5px;
  align-items: center;
  font: 400 14px/20px "Montserrar", sans-serif;
  color: #141414 !important;
  text-decoration: none;
  transition: opacity .3s ease;
}

.header__contacts-link:hover {
  opacity: .7;
}

.header__contacts-link:before {
  content: '';
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 767px) {
  .header__contacts-link {
    font-size: 12px;
    line-height: 16px;
  }
}