.portfolio__work-list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}

@media screen and (max-width: 767px) {
  .portfolio__work-list {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}