.header__social-link {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease, transform .3s ease;
}

.header__social-link:hover {
  opacity: .7;
  transform: scale(1.1);
}