.header__profile-link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease;
}

.header__profile-link:hover {
  opacity: .7;
}